  /*This is navbar css for ig webpage*/

:root {
  --primary: #00bcd4;
  --bg: #0f0c29;
  --nav-bg: #1a1a2e;
  --text: #f1f1f1;
}
nav {
  background: var(--nav-bg);
  padding: 14px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0,0,0,0.6);
}


.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  height: 50px;
  border-radius: 50%;
  padding: 2px;
  border: 2px solid var(--primary);
  animation: glowBorder 2s linear infinite;
}

@keyframes glowBorder {
  0% {
    box-shadow: 0 0 5px var(--primary), 0 0 10px var(--primary);
  }
  50% {
    box-shadow: 0 0 15px var(--primary), 0 0 30px var(--primary);
  }
  100% {
    box-shadow: 0 0 5px var(--primary), 0 0 10px var(--primary);
  }
}

.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--primary);
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

.hamburger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001;
}


.bar {
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.hamburger :hover .bar{
  background-color:#00bcd4 ;
}

/* When menu is active (cross) */
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}




 @media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: var(--nav-bg);
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    display: none;
    margin-top: 15px;
  }

  .nav-links.active {
    display: flex;
   
  }

  .hamburger {
    display: flex;
  }
}